@charset "UTF-8";
// =============================================================================
// stylus/main.styl
// -----------------------------------------------------------------------------
// Contains all styles
// =============================================================================

// =============================================================================
// TABLE OF CONTENTS
// -----------------------------------------------------------------------------
//   01. Includes css factors
//   02. Partials
// =============================================================================

// Includes css factors
// =============================================================================
@import 'inc/includes.styl'

// Partials
// =============================================================================
@import 'partials/norm.styl'
@import 'partials/button.styl'
@import 'partials/header.styl'
@import 'partials/contents.styl'
@import 'partials/footer.styl'