// =============================================================================
// stylus/inc/fonts.styl
// -----------------------------------------------------------------------------
// The fonts
// =============================================================================

// =============================================================================
// TABLE OF CONTENTS
// -----------------------------------------------------------------------------
//   01. Base
//   02. Font size
//   03. Line height
// =============================================================================

// Base
// =============================================================================
// fontsBase      = 'Helvetica Neue', Helvetica, Arial, sans-serif

// fonts for japanese
fontsBase      ='ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro', 'Lucida Grande', 'Meiryo', 'メイリオ', 'ＭＳ Ｐゴシック', sans-serif

// Font size
// =============================================================================
baseFontSize   = 62.5%
bodyFontSize   = 1.3

// Line height
// =============================================================================
baseLineHeight = 1.4