// =============================================================================
// stylus/inc/includes.styl
// -----------------------------------------------------------------------------
// Includes css factors.
// =============================================================================

// =============================================================================
// TABLE OF CONTENTS
// -----------------------------------------------------------------------------
//  a. Variables
//  b. Fonts
//  c. Mixins
//  d. Normalize
// =============================================================================

// Variables
// =============================================================================
@import 'variables.styl'

// Fonts
// =============================================================================
@import 'fonts.styl'

// Mixins
// =============================================================================
@import 'mixins/*'

// Normalize
// =============================================================================
@import 'normalize.styl'
