// =============================================================================
// stylus/inc/variables.styl
// -----------------------------------------------------------------------------
// The variables
// =============================================================================

// =============================================================================
// TABLE OF CONTENTS
// -----------------------------------------------------------------------------
//   01. Define your variables
//   02. Z-Index Master List
// =============================================================================

// =============================================================================
// Define your variables
// =============================================================================


// Z-Index Master List
// =============================================================================
zindex-dropdown         = 1000 !default
zindex-popover          = 1010 !default
zindex-tooltip          = 1020 !default
zindex-modal-backdrop   = 1030 !default
zindex-modal            = 1040 !default
zindex-loading          = 1050 !default
zindex-navbar           = 1060 !default
zindex-search           = 1070 !default

